





{% extends "encyclopedia/layout.html" %}

{% block title %}
    Error!
{% endblock %}

{% block body %}
<h1 style="color: #cc0202; font-family: Arial, Helvetica, sans-serif; text-align: center; font-size: 70px;">An Error occured</h1>
<span style="font-family: Arial, Helvetica, sans-serif,; font-size: 27px ; display: flex; position: absolute; left: 23%; right: 18%; margin-top: 40px;">The Entry "{{title}}" is currenltly not available, please enter a valid entry, Thank you!</span>
{% endblock %}
















